.nav{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.logo{
  font-size: 50px;
  padding-left:50px;
}

.navlinks{
  padding-right: 60px;
  display: flex;
  gap: 15px;
}

.navlinks a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size:16px;
}

.btn{
  padding-top: 20px;
}

.btn .primary_btn{

   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   outline: none;
   border: none;
   font-size:12px;
   font-weight: 300;
   width:140px;
   height: 25px;
   cursor: pointer;
    border-radius: 5px;
    
}

.btn .outline{
  padding: 5px 10px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   outline: none;
   border: none;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
   width: 100%;
   border-radius: 5px;
   border: solid black 1px;
}


.para_form h1{
  font-size: 48px;
  font-weight: 800;
}

