
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}


.main-section{
  display: flex;
  padding:20px 10px;
 align-items: center;
 justify-content: center;
 
}
.main-section .left-side{
  width: 50%;
}
.main-section .right-side{
  width: 40%;
}
.main-section img{
  height: 350px;
  margin-top: 100px;

}

